[
    {
        "scope": "https://s3.amazonaws.com:443",
        "method": "GET",
        "path": "/s3-bucket-name.carlosguerrero.com/Account/id/accountA.json",
        "body": "",
        "status": 200,
        "response": {
            "id": "accountA",
            "amount": "00001",
            "type": "usd-savings",
            "clientId": "clientOne"
        },
        "rawHeaders": [
            "N2OxYx+RJJIPePNrOG0ybaWbbUzjsK38urcyDX64/GM54vjekXQamQolUEJRN1pa60IkdGGni48=",
            "x-amz-request-id",
            "D80F554BE626A656",
            "Wed, 02 Jan 2019 18:10:08 GMT",
            "Last-Modified",
            "Wed, 02 Jan 2019 18:10:07 GMT",
            "ETag",
            "\"cb536bfa150b1ef333679c27a59a9cfa\"",
            "bytes",
            "Content-Type",
            "application/octet-stream",
            "78",
            "AmazonS3"
        ]
    }
]