[
    {
        "scope": "https://s3.amazonaws.com:443",
        "method": "GET",
        "path": "/s3-bucket-name.carlosguerrero.com/Client/id/clientOne.json",
        "body": "",
        "status": 200,
        "response": {
            "id": "clientOne",
            "name": "Carlos Guerrero",
            "username": "guerrerocarlos"
        },
        "rawHeaders": [
            "w8QnPmehNU36kZ3NnEbNVE5wlflKtNq7jKlzQGm8OXSJIaDZlCZ3Jt4dT36eu+S7dS1MQeoRLuU=",
            "x-amz-request-id",
            "8B21AEA523E6F96B",
            "Wed, 02 Jan 2019 18:10:10 GMT",
            "Last-Modified",
            "Wed, 02 Jan 2019 18:10:06 GMT",
            "ETag",
            "\"dbb901da38ba2229473ede5700f4f3d8\"",
            "bytes",
            "Content-Type",
            "application/octet-stream",
            "71",
            "AmazonS3"
        ]
    },
[...]
