[
    {
        "scope": "https://s3.amazonaws.com:443",
        "method": "GET",
        "path": "/s3-bucket-name.carlosguerrero.com/Client/id/clientOne.json",
        "body": "",
        "status": 200,
        "response": {
            "id": "clientOne",
            "name": "Carlos Guerrero",
            "username": "guerrerocarlos"
        },
        "rawHeaders": [
            "mryLP8FVnPFYJ5cd9H4oy/xYv55bQQI2kXRLdLEYfRjJ8rq00EKj73adS6nbW/fGWJnJtLhmcrU=",
            "x-amz-request-id",
            "EB50B074D0D78983",
            "Wed, 02 Jan 2019 18:10:08 GMT",
            "Last-Modified",
            "Wed, 02 Jan 2019 18:10:06 GMT",
            "ETag",
            "\"dbb901da38ba2229473ede5700f4f3d8\"",
            "bytes",
            "Content-Type",
            "application/octet-stream",
            "71",
            "AmazonS3"
        ]
    }
]